html {
    padding: 20px;
    max-width: 500px;
    font-size: 14px;
}

details {
    cursor: pointer;
}

select {
    font-size: 12px;
}

details[open] > *:not(summary) {
    margin-left: 2em;
    /*cursor: pointer;*/
}